# Functions Assignment

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} πr^3$$</p>

In [1]:
from math import pi
def vol(rad):
    return (pi * 4 * (rad**3))/3

In [2]:
# Check
round(vol(2),2)

33.51

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [3]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'

In [4]:
def up_low(s):
    upper_count,lower_count=0,0
    for letter in s:
        if letter.isalpha():            
            if letter.isupper():
                upper_count+=1
            else:
                lower_count+=1
        else :
            continue
    return upper_count,lower_count

In [5]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

(4, 33)

In [6]:
def Cases_Counts(sentence):
    L=[]
    l=[]
    for i in sentence:
        if i.isalpha():
            if i.isupper():
                L.append(i)
            elif i.islower():
                l.append(i)
    return len(L),len(l)

In [7]:
Cases_Counts(s)

(4, 33)

In [8]:
def cases(se):
    uppercase,lowercase=0,0
    for letter in se:
        if letter.isalpha():
            if letter.isupper():
                uppercase=uppercase+1
            else:
                lowercase=lowercase+1
        else:
            continue
    return uppercase,lowercase

In [9]:
cases(s)

(4, 33)

____
**multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [10]:
L= [1, 2, 3, -4]

In [11]:
from functools import reduce

In [12]:
def mult (a,b):
    return a*b

In [13]:
x=reduce(mult,L)

In [14]:
x

-24

____
**get the even numbers from a list. (use built in function)**

    Sample List : [1, 2, 3, 4,7,8]
    Expected Output : [2,4,8]

In [15]:
def even_numbers(lw):
    l=[]
    for i in lw:
        if i%2==0:
            l.append(i)
    return l

In [16]:
L1=[1, 2, 3, 4, 7, 8]
even_numbers(L1)

[2, 4, 8]

In [17]:
def even(z):
    if z%2==0:
        return True
    else:
        return False

In [18]:
even(5)

False

In [19]:
q=list(filter(even,L1))

In [20]:
q

[2, 4, 8]

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [21]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a<b:
            return a
    else: 
        return b

In [22]:
# Check
lesser_of_two_evens(2,4)

2

In [23]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [24]:
def animal_crackers(name):
    a, b = name.split()
    if a[0] == b[0]:
        return True
    else:
        return False

In [25]:
# Check
animal_crackers('Levelheaded Llama')

True

In [26]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [27]:
def makes_twenty(n1,n2):
    if n1+n2==20 or n1==20 or n2==20:
        return True
    else: 
        return False

In [28]:
# Check
makes_twenty(20,10)

True

In [29]:
# Check
makes_twenty(2,3)

False

In [30]:
#check
makes_twenty(12,8)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [31]:
def old_macdonald(sentence):
    sc=list(sentence)
    for i in range(0,len(sc)-1):
        sc[0]=sc[0].upper()
        sc[3]=sc[3].upper()
    return "".join(sc)

In [32]:
old_macdonald('macdonald')

'MacDonald'

In [33]:
old_macdonald('miriam')

'MirIam'

### I tried this but it doesn't work 
  ##### def old_macdonald(name):
    name1=name.capitalize()
    for i in range(0,len(name1)-1):
        return name1.replace(name1[3],name1[3].upper(),1)

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [34]:
def master_yoda(sentence):
    sc=sentence.split()
    sc.reverse()
    return " ".join(sc)

In [35]:
# Check
master_yoda('I am home')

'home am I'

In [36]:
# Check
master_yoda('We are ready')

'ready are We'

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [1]:
def has_33(h):
    for i in range(0,len(h)-1): ##(0,2)
        
        if h[i]==3 and h[i+1]==3: 
            return True
    return False

In [38]:
# Check
has_33([3, 3, 1])

True

In [39]:
# Check
has_33([3, 1, 3])

False

In [40]:
# Check
has_33([1, 3, 3])

True

In [41]:
has_33([1, 3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [42]:
def paper_doll(text):
    q1=[i*3 for i in text]
    return "".join(q1)

In [43]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [44]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [45]:
def spy_game(nums):
    if nums.count(0)== 2 and 7 in nums:
        if nums.index(7) > (nums.index(0,1) and nums.index(0,2)):
            return True
        else:
            return False

In [46]:
spy_game([1,2,4,0,0,7,5])

True

In [47]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [48]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [9]:
def if_prime (num):
    if num<2:
        return False
    else:
        for i in range(2,num):
            if num%i==0:
                return False # not prime
            
    return True #prime

In [10]:
def count_primes (nu):
    nu=nu+1
    d=list(filter(if_prime,list(range(0,nu))))
    return len(d)

In [11]:
count_primes(100)

25

## Great Job!