## TASK 1

In [4]:
import requests

In [2]:
response=requests.get('https://api.frankfurter.app/latest?amount=1&amp;from=USD&amp;to=EUR')

In [3]:
data=response.json()

In [4]:
data

{'amount': 1.0, 'base': 'USD', 'date': '2021-12-20', 'rates': {'EUR': 0.88708}}

In [5]:
x=data['rates']['EUR']

In [6]:
x

0.88708

In [7]:
def Convert_US_Dollars_to_Euros():
    USD=int(input('Enter the USD Value: '))
    Euros=USD*x
    return Euros

In [8]:
Convert_US_Dollars_to_Euros()

Enter the USD Value: 10

8.8708

## TASK 2

In [5]:
response1=requests.get('https://www.metaweather.com/api/location/1521894/')

In [6]:
Data_Weather=response1.json()

In [7]:
Data_Weather['consolidated_weather']

[{'id': 5161255472988160,
  'weather_state_name': 'Heavy Cloud',
  'weather_state_abbr': 'hc',
  'wind_direction_compass': 'NW',
  'created': '2021-12-23T13:34:23.153914Z',
  'applicable_date': '2021-12-23',
  'min_temp': 11.065,
  'max_temp': 17.854999999999997,
  'the_temp': 17.185000000000002,
  'wind_speed': 4.241082161430579,
  'wind_direction': 308.46643721935817,
  'air_pressure': 1021.0,
  'humidity': 70,
  'visibility': 12.236662888729818,
  'predictability': 71},
 {'id': 5891521573289984,
  'weather_state_name': 'Light Cloud',
  'weather_state_abbr': 'lc',
  'wind_direction_compass': 'NNW',
  'created': '2021-12-23T13:34:26.274036Z',
  'applicable_date': '2021-12-24',
  'min_temp': 10.57,
  'max_temp': 18.655,
  'the_temp': 17.759999999999998,
  'wind_speed': 6.609144969317851,
  'wind_direction': 341.8288527480584,
  'air_pressure': 1022.5,
  'humidity': 52,
  'visibility': 13.01896921975662,
  'predictability': 70},
 {'id': 4633176182882304,
  'weather_state_name': 'Clear',
  'weather_state_abbr': 'c',
  'wind_direction_compass': 'NNE',
  'created': '2021-12-23T13:34:29.171620Z',
  'applicable_date': '2021-12-25',
  'min_temp': 9.135,
  'max_temp': 18.715,
  'the_temp': 17.93,
  'wind_speed': 5.680887763464036,
  'wind_direction': 31.492750022404103,
  'air_pressure': 1025.0,
  'humidity': 48,
  'visibility': 12.804596158434741,
  'predictability': 68},
 {'id': 4592291382558720,
  'weather_state_name': 'Clear',
  'weather_state_abbr': 'c',
  'wind_direction_compass': 'NNE',
  'created': '2021-12-23T13:34:32.253584Z',
  'applicable_date': '2021-12-26',
  'min_temp': 8.924999999999999,
  'max_temp': 19.705,
  'the_temp': 18.23,
  'wind_speed': 6.483694543193085,
  'wind_direction': 27.501334708476325,
  'air_pressure': 1023.0,
  'humidity': 54,
  'visibility': 13.29423665791776,
  'predictability': 68},
 {'id': 6287579197472768,
  'weather_state_name': 'Light Cloud',
  'weather_state_abbr': 'lc',
  'wind_direction_compass': 'NE',
  'created': '2021-12-23T13:34:36.263282Z',
  'applicable_date': '2021-12-27',
  'min_temp': 9.895,
  'max_temp': 20.835,
  'the_temp': 19.009999999999998,
  'wind_speed': 5.529487677419868,
  'wind_direction': 41.0,
  'air_pressure': 1021.5,
  'humidity': 55,
  'visibility': 13.185496699276227,
  'predictability': 70},
 {'id': 5271080966029312,
  'weather_state_name': 'Light Cloud',
  'weather_state_abbr': 'lc',
  'wind_direction_compass': 'NE',
  'created': '2021-12-23T13:34:38.652374Z',
  'applicable_date': '2021-12-28',
  'min_temp': 9.805,
  'max_temp': 19.955,
  'the_temp': 17.17,
  'wind_speed': 3.456337190805695,
  'wind_direction': 53.0,
  'air_pressure': 1020.0,
  'humidity': 66,
  'visibility': 9.999726596675416,
  'predictability': 70}]

In [8]:
Data_Weather['consolidated_weather'][0]['the_temp'], Data_Weather['consolidated_weather'][0]['humidity'],Data_Weather['consolidated_weather'][0]['visibility'],Data_Weather['consolidated_weather'][0]['air_pressure'], Data_Weather['consolidated_weather'][0]['wind_speed'],Data_Weather['consolidated_weather'][0]['created']

(17.185000000000002,
 70,
 12.236662888729818,
 1021.0,
 4.241082161430579,
 '2021-12-23T13:34:23.153914Z')

In [36]:
import csv
with open('Temperature.csv','w',newline="") as f:
    writer=csv.writer(f)
    writer.writerow(['datetime','Temperature', 'Humidity', 'Visibility', 'Air_Pressure', 'Wind_Speed'])
    datetime=Data_Weather['consolidated_weather'][0]['created']
    Temperature=Data_Weather['consolidated_weather'][0]['the_temp']
    Humidity=Data_Weather['consolidated_weather'][0]['humidity']
    Visibility=Data_Weather['consolidated_weather'][0]['visibility']
    Air_Pressure=Data_Weather['consolidated_weather'][0]['air_pressure']
    Wind_Speed=Data_Weather['consolidated_weather'][0]['wind_speed']
    writer.writerow([datetime,Temperature, Humidity, Visibility,Air_Pressure,Wind_Speed])

In [15]:
import csv
with open('Temperature.csv','a',newline="") as f:
    writer=csv.writer(f)
    datetime=Data_Weather['consolidated_weather'][0]['created']
    Temperature=Data_Weather['consolidated_weather'][0]['the_temp']
    Humidity=Data_Weather['consolidated_weather'][0]['humidity']
    Visibility=Data_Weather['consolidated_weather'][0]['visibility']
    Air_Pressure=Data_Weather['consolidated_weather'][0]['air_pressure']
    Wind_Speed=Data_Weather['consolidated_weather'][0]['wind_speed']
    writer.writerow([datetime,Temperature, Humidity, Visibility,Air_Pressure,Wind_Speed])

In [16]:
import pandas as pd

In [17]:
dataframe= pd.read_csv('Temperature.csv')

In [18]:
dataframe

,datetime,Temperature,Humidity,Visibility,Air_Pressure,Wind_Speed
0,2021-12-20T16:34:21.852559Z,14.205,55,11.692031,1018.0,12.660287
1,2021-12-23T13:34:23.153914Z,17.185,70,12.236663,1021.0,4.241082

## Task 3

In [4]:
response2=requests.get('https://gorest.co.in/public-api/users?_format=json&access-token=H4lYmIGLXZkDlpy_w0ZVS5rgcpDXbN7fhRRy')

In [7]:
meta_data=response2.json()

In [8]:
meta_data

{'code': 200,
 'meta': {'pagination': {'total': 1690, 'pages': 85, 'page': 1, 'limit': 20}},
 'data': [{'id': 1933,
   'name': 'Hasan',
   'email': 'reerr@gmail.com',
   'gender': 'female',
   'status': 'active'},
  {'id': 1935,
   'name': 'Hasan',
   'email': 'tsyye@gmail.com',
   'gender': 'female',
   'status': 'active'},
  {'id': 1938,
   'name': 'Hasan',
   'email': 'rrsgw@gmail.com',
   'gender': 'female',
   'status': 'active'},
  {'id': 1939,
   'name': 'Hasan',
   'email': 'eypas@gmail.com',
   'gender': 'female',
   'status': 'active'},
  {'id': 57,
   'name': 'Dr. Daiwik Chaturvedi',
   'email': 'chaturvedi_daiwik_dr@champlin.co',
   'gender': 'female',
   'status': 'active'},
  {'id': 58,
   'name': 'Mukul Sethi',
   'email': 'mukul_sethi@pacocha.com',
   'gender': 'female',
   'status': 'inactive'},
  {'id': 59,
   'name': 'Hiranmaya Kapoor',
   'email': 'kapoor_hiranmaya@mcclure-kohler.io',
   'gender': 'female',
   'status': 'active'},
  {'id': 62,
   'name': 'Fr. Somnath Kaur',
   'email': 'kaur_fr_somnath@reichert.info',
   'gender': 'female',
   'status': 'inactive'},
  {'id': 63,
   'name': 'Bhamini Mishra',
   'email': 'bhamini_mishra@feest.net',
   'gender': 'male',
   'status': 'inactive'},
  {'id': 64,
   'name': 'Budhil Joshi Esq.',
   'email': 'joshi_budhil_esq@gutmann.io',
   'gender': 'female',
   'status': 'active'},
  {'id': 65,
   'name': 'Puneet Sharma',
   'email': 'sharma_puneet@mayer.org',
   'gender': 'male',
   'status': 'active'},
  {'id': 66,
   'name': 'Sen. Budhil Kaur',
   'email': 'budhil_sen_kaur@lockman.org',
   'gender': 'male',
   'status': 'inactive'},
  {'id': 67,
   'name': 'Lakshminath Khatri',
   'email': 'khatri_lakshminath@mayer.org',
   'gender': 'male',
   'status': 'inactive'},
  {'id': 68,
   'name': 'Gorakhnath Bhattathiri',
   'email': 'bhattathiri_gorakhnath@farrell-smitham.io',
   'gender': 'male',
   'status': 'active'},
  {'id': 69,
   'name': 'Dayamayee Sinha',
   'email': 'dayamayee_sinha@bode.co',
   'gender': 'male',
   'status': 'active'},
  {'id': 70,
   'name': 'Sen. Bhoopati Patel',
   'email': 'bhoopati_patel_sen@lesch.com',
   'gender': 'male',
   'status': 'active'},
  {'id': 71,
   'name': 'Charak Shukla',
   'email': 'charak_shukla@jakubowski.io',
   'gender': 'female',
   'status': 'active'},
  {'id': 72,
   'name': 'Madhuri Agarwal',
   'email': 'madhuri_agarwal@stark.net',
   'gender': 'female',
   'status': 'inactive'},
  {'id': 73,
   'name': 'Miss Bandhu Ahluwalia',
   'email': 'ahluwalia_bandhu_miss@senger.name',
   'gender': 'female',
   'status': 'active'},
  {'id': 1578,
   'name': 'сейчас бы пивка',
   'email': 'cihpuk6+11@gmail.com',
   'gender': 'female',
   'status': 'active'}]}

In [6]:
meta_data['data']
for meta in meta_data['data']:
    if meta['status']=='inactive':
        meta['status']='0'
    elif meta['status']=='active':
        meta['status']='1'
    print('Name: {}, Gender; {}, Email: {}, Status: {}'.format(meta['name'],meta['gender'],meta['email'],meta['status']))

Name: Hasan, Gender; female, Email: reerr@gmail.com, Status: 1
Name: Hasan, Gender; female, Email: tsyye@gmail.com, Status: 1
Name: Hasan, Gender; female, Email: rrsgw@gmail.com, Status: 1
Name: Hasan, Gender; female, Email: eypas@gmail.com, Status: 1
Name: Dr. Daiwik Chaturvedi, Gender; female, Email: chaturvedi_daiwik_dr@champlin.co, Status: 1
Name: Mukul Sethi, Gender; female, Email: mukul_sethi@pacocha.com, Status: 0
Name: Hiranmaya Kapoor, Gender; female, Email: kapoor_hiranmaya@mcclure-kohler.io, Status: 1
Name: Fr. Somnath Kaur, Gender; female, Email: kaur_fr_somnath@reichert.info, Status: 0
Name: Bhamini Mishra, Gender; male, Email: bhamini_mishra@feest.net, Status: 0
Name: Budhil Joshi Esq., Gender; female, Email: joshi_budhil_esq@gutmann.io, Status: 1
Name: Puneet Sharma, Gender; male, Email: sharma_puneet@mayer.org, Status: 1
Name: Sen. Budhil Kaur, Gender; male, Email: budhil_sen_kaur@lockman.org, Status: 0
Name: Lakshminath Khatri, Gender; male, Email: khatri_lakshminath@mayer.org, Status: 0
Name: Gorakhnath Bhattathiri, Gender; male, Email: bhattathiri_gorakhnath@farrell-smitham.io, Status: 1
Name: Dayamayee Sinha, Gender; male, Email: dayamayee_sinha@bode.co, Status: 1
Name: Sen. Bhoopati Patel, Gender; male, Email: bhoopati_patel_sen@lesch.com, Status: 1
Name: Charak Shukla, Gender; female, Email: charak_shukla@jakubowski.io, Status: 1
Name: Madhuri Agarwal, Gender; female, Email: madhuri_agarwal@stark.net, Status: 0
Name: Miss Bandhu Ahluwalia, Gender; female, Email: ahluwalia_bandhu_miss@senger.name, Status: 1
Name: сейчас бы пивка, Gender; female, Email: cihpuk6+11@gmail.com, Status: 1

In [71]:
with open('Meta_Data.csv','w',newline="") as f:
    write=csv.writer(f)
    write.writerow(['Name', 'Gender', 'Email', 'Status'])
    for meta in meta_data['data']:
        Name= meta['name']
        Gender=meta['gender']
        Email=meta['email']
        Status=meta['status']
        write.writerow([Name, Gender, Email, Status])

In [77]:
table=pd.read_csv('Meta_Data.csv')

In [78]:
table

,Name,Gender,Email,Status
0,Apolonia Olson,male,lesley.mohr@hotmail.com,0
1,Rajesh,male,tSdAXqXmOT@gamil.com,0
2,Arjun yadav,male,Arjun@gmail.com,0
3,Priyanka Deshpandes,male,deshpande_charuvrat@gusikowski-kunde.info,1
4,Dharitri Pothuvaal Jr.123,male,t7nn42olxoju9s5@gmail.com,1
5,Dharitri Pothuvaal Jr.123,male,pc390k65prr2n1j@gmail.com,1
6,meghana,female,yogeshas@mssakitweb.com,1
7,Dharitri Pothuvaal Jr.123,male,jvjchbkqkjcnkjqdkwkdmmd@gmail.com,1
8,Jina Daugherty,female,antwan.schulist@gmail.com,1
9,Ariane Mills,female,santiago.hirthe@gmail.com,1
10,Janyce Hansen,female,al.ortiz@gmail.com,0
11,Evette Schoen,male,leslie.haag@yahoo.com,1
12,Userfor Test,male,testing0006000@email.com,0
13,Dharitri Pothuvaal Jr.123,male,e0hq7hr57x6yop5@gmail.com,1
14,oqd65k0D3z,male,kBEOYncv@gmail.com,1
15,bhavani,female,bhavanik@gmail.com,1
16,JohnCena,male,johncena@5820ce.com,1
17,Andrei Rai,male,Deven.Nicolas97@example.org,1
18,{{$randomFirstName,male,and.rai.test+4@gmail.com,1
19,user,male,mhbvgj@mail.com,1